* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  font-family: sans-serif;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
}

.hero-div {
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-div button {
  display: flex;
  flex-direction: column;
  background-color: lightcyan;
  justify-content: space-around;
  align-items: center;
  border: none;
  width: 15%;
  height: 200px;
}

.hero-div button:hover {
  transform: scale(1.03);
  transition: 0.2s;
  cursor: pointer;
}

.hero-div button:active {
  background-color: white;
}

.hero-div img {
  display: flex;
  width: 50%;
}

#second-img{
  width: 60%;
}

.second-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: navajowhite;
  padding: 10px;
}

.second-div button {
  padding: 7px;
  background-color: lightgreen;
  color: rgb(10, 10, 10);
  border-radius: 3px;
  border: none;
  margin: 5px 55px;
  padding: 10px;
}

.second-div button:hover {
  transform: scale(1.03);
  transition: 0.2s;
  cursor: pointer;
}

.second-div button:active {
  background-color: white;
}

.second-div h3 {
  display: flex;
  position: relative;
  justify-content: center;
}

.btn-div {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
